*:after,
*:before,
p a,
a,
.tg-socialicons li a,
.tg-roundicontext,
.tg-roundicontext .tg-usericonholder,
.sub-menu,
.mega-menu,
.tg-themedropdownmenu li a,
.tg-themedropdownmenu,
.tg-themedropdownmenu li.menu-item-has-children ul,
.sub-menu li,
.tg-categories .item,
.tg-categories .item h3,
.tg-prev,
.tg-next,
.tg-ad,
.tg-btnphone,
.tg-like,
.tg-post figure img,
.tg-post figure a img,
.tg-categoryholder,
.tg-category h4,
.tg-feature,
.tg-team figure figcaption,
.tg-applyedfilters ul li.alert-dismissable a.close,
.tg-collapsetitle a span:before,
.tg-btn,
.tg-user,
.tg-socialandappicons,
.tg-logo,
.tg-btnmenutoggle,
.cls-1,
.tg-wrapper,
.tg-sidebarwrapper,
.tg-dropdownmenu,
.tg-dropdownmenu li,
.tg-dashboardbox,
.ct-bar,
.tg-offerer,
.tg-navtabledata ul li a,
.tg-dashboardtable tr,
.tg-package,
.tg-profilephotogallery ul li figure i,
.tg-btndelete {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}